<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        {{ text }}
        <br>
        帳號 <input v-model="form.userAccount" type="text"><br>
        密碼 <input v-model="form.password" type="text">
        <hr>
        <button @click="login">登入</button>
      </div>
      <!--  -->
    <script type="module">
        import{createApp} from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.24/vue.esm-bundler.min.js'
        createApp({
        data() {
            return { 
                
                text: "登錄頁面" 
            }
        },
        methods: {
  
        }
        }).mount("#app");

    </script>
</body>
</html>